.header-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 'call-to-action image-bg';
}

.header-content > .call-to-action {
  grid-area: call-to-action;
}

.header-content > .imagebackground {
  grid-area: image-bg;
  display: flex;
  justify-self: center;
  width: 35vw;
}

@media screen and (max-width: 600px) {
  .header-content {
    grid-template-columns: 1fr 1fr;
  }
}
