.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 'logo menu';
  padding: 0;
  margin: 0;
}
.navbar > .logo {
  width: 250px;
  grid-area: logo;
}

.navbar > .menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.navbar > .menu > .menu-item {
  padding: 5px 20px;
  list-style: none;
}

.navbar > .menu > .menu-item > a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #707070;
}
